# Right now the scope is at a high level for each project directory but as we build more, we can narrow the scope of responsibilities much more.
/dedupe/ @bryanbritten @alhayward @ericbuckley @cbrinson-rise8 @derekadombek

/OCR/ @zdeveloper @jonchang @knguyenrise8 @colekettler