.extract-button-submit {
    height: 40px;
    margin-left: 8px; 
}

.extract-button-reset {
    height: 40px;
    margin-left: 8px; 
}

.extract-button-close {
    padding-right: 8px;
}

.extract-header {
    height: 50px;
    padding: 8px;
}