.template-select {
    align-self: flex-start;
    width: 100%;
    max-width: 300px;
}

.extract-upload-icon {
    margin-top: 16px;
}

.extract-file-input {
    border: 1px dashed #005ea2;
}

.usa-file-input__target {
    border: none;
}

.extract-upload-header {
    text-align: left;
    width: 100%;
}

p {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px /* 25.92px */
}

.helper-text {
    color: #71767A;
}

.dashed-container {
    width: 100%;
    height: 50%; 
    border: 1px dashed #A9AEB1;
}

.dashed-container-uploaded {
    height: unset; 
}

.select-label-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: -16px;
    width: 100%;
    .usa-file-input {
        width: unset;
    }
}

.usa-file-input__choose {
    text-decoration: none;
}