.header {
    height: '50px';
    padding: '8px';
}

.close-button {
    padding-right: '8px';
}

.reset-button {
    height: '44px';
    box-shadow: 'inset 0 0 0 2px  #adadad';
    color: '#adadad';
}

.submit-button {
    height: '44px';
}