.bulk-header {
    color: #1B1B1B;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 24px;
}

.content-container {
    text-align: left;
    width: 70%;
    
}

.error-text {
    color: #B32C54;
}

.table-container {
    padding: 24px 16px 24px 8px;
    background-color: #FFF;
    border-radius: 8px;
}

.table-div {
    margin-left: 24px;
}

.usa-table--striped tbody tr:nth-child(odd) td.usa-input--error {
    color: #d54309;
    background-color:  #DCDEE0;
  }
  
.usa-table--striped tbody tr:nth-child(even) td.usa-input--error {
    color: #d54309;
    background-color: inherit;
}

.review-template-header {
    justify-content: space-between;
    margin: 24px 16px;
}
