.upload-file-header {
  margin-top: 62px;
}

.upload-file-header-content-container {
  width: 70%;
  text-align: left;
}

.upload-file-instructions {
  color: #71767a;
}

.dashed-container {
  width: "70%";
  border: "1px dashed  #005ea2";
  margin-bottom: 62px;
}

.dashed-container-preupload {
  height: 200px;
}

.dashed-container-upload {
  height: 245px;
}

.upload-back-button {
  height: 44px;
  background-color: white;
}

.upload-annotate-button {
  height: 44px;
}
