/* https://designsystem.digital.gov/documentation/settings/ */
@use "uswds-core" with (
  // General
  $theme-image-path: "@uswds/uswds/img",
  $theme-show-compile-warnings: false,
  $theme-show-notifications: false,

  // Components
  $theme-hero-image: "@uswds/uswds/img/hero.jpg",

  // Typography
  $theme-font-path: "@uswds/uswds/fonts"
);
