.hover-display-icon {
  text-wrap: nowrap;
  text-align: center;
  svg {
    opacity: 0;
    @media (prefers-reduced-motion: no-preference) {
      transition: opacity 0.2s ease-in-out;
    }
  }
}

.hover-display-icon:hover {
  svg {
    opacity: 1;
    @media (prefers-reduced-motion: no-preference) {
      transition: opacity 0.2s ease-in-out;
    }
  }
}

