.pagination-text {
    color: #71767A;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 40px;
}

.pagination-container {
    justify-content: space-between;
}

.pagination-button-group {
    margin-right: 40px;
}