.error-content { 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 1rem;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    flex-direction: column;
}

.error-cta {
    text-align: center;
    text-wrap: wrap;
}