.usa-table--striped tbody tr:nth-child(odd) td.usa-input--error {
  color: #d54309;
  background-color: #f0f0f0;
}

.usa-table--striped tbody tr:nth-child(even) td.usa-input--error {
  color: #d54309;
  background-color: inherit;
}

.custom-tooltip-container {
  margin-left: 4px;
  position: relative;
  cursor: pointer;
}

.table-group-container {
  margin: 24px 16px;
  border: 1px solid #F0F0F0;
  border-radius: 5px;
}

.table-container {
  padding: 24px 16px;
  margin-right: 16px;

}

.custom-tooltip-text {
  visibility: hidden;
  width: 220px;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 8px;
  border-radius: 4px;

  position: absolute;
  z-index: 1;
  bottom: 100%;
  transform: translateX(-50%);
}

.custom-tooltip-container:hover .custom-tooltip-text {
  visibility: visible;
  opacity: 1;
}

.review-template-header {
  justify-content: space-between;
  margin: 24px 16px;
}

.image-container {
  width: 50%;
  background-color: #F5FBFF;
  padding: 16px;
}

.text-success-confidence {
  color: #0C7C65;
}

.error-text {
  color: #B32C54;
}

.review-template-header-container {
  margin: 24px 16px;
}

.review-template-header-outer {
  border-bottom: 1px solid #F0F0F0;
} 

.review-button-container {
  margin-left: 16px;
  margin-bottom: 24px;
}

.outer-review-header-container {
  border-bottom: 1px solid #F0F0F0;
}

.csv {
  height: 44px;
}

.csv-icon {
  margin-right: 4px;
}